body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7fb; /* Light background color */
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Make sure the body and html take full width and height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
